@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

   // Layout = null; // this code will remove the heder footer layout.and will provide a simple layout.
}


<!-- this below code was inside IActionResult Index(). -->
<form method='POST' action='/helloworld/'>
    <input type='text' name='name' />
    <input type='submit' value='greet Me!' />

    <select name='language'>
        <option value='Namaste'>Indian</option>
        <option value='Hello'>English</option>
        <option value='Bonjour'>French</option>
        <option value="Kon'nichiwa"> Japanees</option>
        <option value='Hola'>Spanish</option>
    </select>
    <p>Name: @ViewBag.vegitable</p> <!--ViewBag declared inside controller's Hello controller just above return view()-->
    <ol>
    <li>Item name: @ViewBag.name, Price: @ViewBag.price</li>

    </ol>
    @*Razor comments*@

    <h3>Coffe Types</h3>
    <ol>
        @foreach(var item in ViewBag.newList)
        {
            <li>@item</li>
        }
        </ol>
</form>
<!---------------------------------------------------------->
